body {
    background-color: hsl(45, 40%, 80%);
    display: flex;
    justify-content: center;
    min-width: 700px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    font-family: 'Courier', 'Courier New', sans-serif; 
}

.area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-line {
    font-size: 60px;
    font-weight: 900;
    margin: 10px 0;
}

.sub-head-line {
    font-size: 40px;
    margin: 15px 0;
}

.vs {
    font-size: 30px;
    margin: 20px 0;
}

.buttons {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 10px;
}

.score-area {
    font-size: 20px;
    display: flex;
    gap: 200px;
}

.result {
    font-size: 35px;
    margin: 10px 0 15px 0;
    text-decoration: underline;
}

.button {
    background-color: rgba(110, 105, 82, 0.723);
    border: 3px black solid;
    border-radius: 15px;
    height: 160px;
    width: 160px;
}

.player-button:hover {
    background-color: rgb(101, 173, 119);
    border-width: 4px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.player-button:active {
    background-color: rgb(0, 99, 69);
    transition: all 0.1s linear;
}